@import '../../color-variables/color-var.styles.scss';

#form{
    padding: 40px;
    input{
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        width: 180px;
        height: 5vh;
}
    button{
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        padding: 10px;
        width: 75px;
        margin-left: 30px;
        color: #fff;
        background-color: $brightred;
        cursor: pointer;
        border:transparent
}
}