//Colors 

//Primary Color
$brightred:hsl(12, 88%, 59%);
$darkblue:hsl(228, 39%, 23%);

//neutral
$darkgrayishblue: hsl(227, 12%, 61%);
$verydarkblue:  hsl(233, 12%, 13%);
$verypalered: hsl(13, 100%, 96%);
$varylightgray: hsl(0, 0%, 98%);
