@import '../../color-variables/color-var.styles.scss';

footer{
    text-align: center;
    background-color:$darkblue ;
    color: #ffffff;
        nav{
            text-align: left;
            display: grid;
            grid-template-columns: 200px 200px;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
            .nav-left{
                list-style: none;
            }
            .nav-right{
                list-style: none;
            }
}
    .social-media{
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 20px;
        li{
            margin: 15px;
        }
    }

    p{
        font-size: 80%;
        color: $darkgrayishblue;
        margin-top: 20px;
    }
}

@media screen and (min-width:1030px){
    footer{
        position: relative;
        height: 40vh;
    }

    nav{
        position: relative;
        bottom: 5%;
        width: 1400px;
        ul{
            li{
                margin: 15px;
            }
        }
    }

    .logo-footer{
        position: absolute;
        top: 0;
        left: 0;
        margin: 50px 150px;
    }
    .social-media{
      justify-content: left !important;
      margin: -50px 130px !important;
    }
    p{
        float: right;
        margin: 0 50px;
    }
}