.main-nav{
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-4rem);
        -webkit-transform: translateY(-4rem);
        -moz-transform: translateY(-4rem);
        -ms-transform: translateY(-4rem);
        -o-transform: translateY(-4rem);
        
        li{
            margin: 10px;
        }
}
}