

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 18px;
    text-rendering: optimizeLegibility;
    font-family: 'Be Vietnam', sans-serif;
    overflow-x: hidden;
}